<div class="nav-items">
  <!-- Add routerLinkActive="active-nav-item" to each nav-item div -->
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/dashboard" class="no-underline"> <fa-icon [icon]="faDashboard"></fa-icon> <span>Dashboard</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/asset-list" class="no-underline"> <fa-icon [icon]="faBoxesStacked"></fa-icon> <span>DeltaV Assets</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/licenses" class="no-underline"> <fa-icon [icon]="faDriversLicense"></fa-icon> <span>Licenses</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/capitalize-assets" class="no-underline"> <fa-icon [icon]="faComputer"></fa-icon> <span>Infra IT Assets</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/third-party-items" class="no-underline"> <fa-icon [icon]="faPeopleRoof"></fa-icon> <span>Third Party Assets</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/spare-items" class="no-underline"> <fa-icon [icon]="faTools"></fa-icon> <span>Spare Items</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/warranty-monitoring" class="no-underline"> <fa-icon [icon]="faCertificate"></fa-icon> <span>Warranty Monitoring</span> </a>
  </div>
  <div class="nav-item" routerLinkActive="active-nav-item">
    <a routerLink="/account-management" class="no-underline"> <fa-icon [icon]="faPeopleGroup"></fa-icon> <span>Account Management</span> </a>
  </div>
</div>
