#container {
    background-color: rgb(0, 195, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    h1 {
        margin: 0px;
        color: white;

    }
  
}