.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of everything */
  font-size: 1.2rem;
  color: #333;

  .spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 15px;
  }
}
